{% extends 'MopaBootstrapBundle::base_css.html.twig' %}

{% block container %}
    <div id="pageName" name="jobSend"></div>
    <div> Votre job a été envoyé avec succès
        <form>
            {% for key, value in data %}
                {% if key == 'parameters' %}
                    {% for k, v in value %}
                        <input type="hidden" id="parameter{{ k }}" name="parameter{{ k }}" value="{{ v }}">
                    {% endfor %}
                {% else %}
                    <input type="hidden" id="{{ key }}" name="{{ key }}" value="{{ value }}">
                {% endif %}
                
            {% endfor %}
        </form>
    </div>

{% endblock container %}